 @mixin _setArrow($arrowsize, $borderColor, $borderWidth) {
   display: inline-block;
   height: $arrowsize;
   width: $arrowsize;
   border-width: $borderWidth $borderWidth 0 0;
   border-color: $borderColor;
   border-style: solid;
 }
 
 @mixin setArrow($direction, $arrowsize, $borderColor, $borderWidth) {
   @if$direction=='top'{
     @include _setArrow($arrowsize, $borderColor, $borderWidth);
     transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0); // rotate(-45deg)
   }
   @if$direction=='right'{
     @include _setArrow($arrowsize, $borderColor, $borderWidth);
     transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); // rotate(45deg);
     position: relative;
     top: -2px;
   }
   @if$direction=='down'{
     @include _setArrow($arrowsize, $borderColor, $borderWidth);
     transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0); // rotate(135deg);
     position: relative;
     top: -3px;
   }
   @if$direction=='left'{
     @include _setArrow($arrowsize, $borderColor, $borderWidth);
     transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0); // rotate(-135deg);
     position: relative;
     top: -2px;
   }
 }
